
*.json

*.bin

__pycache__/

RetrievedData\.zip

\.vscode/\.ropeproject/

temp/

bkps/

*.dll

*.dat
Assembly-CSharp\.pdb

BeatmapAssetMaker\.pdb

*.assets

sharedassets17\.resource

Newtonsoft\.Json\.xml

BeatmapAssetMaker\.exe

BeatmapAssetMaker\.exe\.config
